extends ../layout/common.pug
block content
  if(errors)
   each error in errors
    .alert.alert-danger= error
   a(href="/transaction", class="btn btn-danger") Go back
  else
    h1 Danh sách các bạn đang mượn sách
    if(usersBorrow)
      ul(style="display:inline-block; list-style: none") 
       div(style="font-weight: 700") NGƯỜI MƯỢN
       each user in usersBorrow
         li(style="border: 1px solid black; padding:10px 30px;")
          span= user.name      
    ul(style="display:inline-block; list-style: none; padding-left: 0") 
     div(style="font-weight: 700") SÁCH MƯỢN
     each book in bookNameBorrow
       li(style="border: 1px solid black; padding:10px 30px ;")
        span= book.title 
    ul(style="display:inline-block; list-style: none; padding-left: 0") 
    if(sumItem)
     ul(style="display:inline-block; list-style: none; padding-left: 0") 
      div(style="font-weight: 700") SỐ LƯỢNG
       each numItem in sumItem
        li(style="border: 1px solid black; padding:10px 30px ;")
         span= numItem 
    if(amountBook)
      ul(style="display:inline-block; list-style: none; padding-left: 0") 
       div(style="font-weight: 700") FINISH
        each num in amountBook
         li(style="border: 1px solid black; padding:10px 30px ;")
          span
           a(href="/transaction/"+ num +"/complete" ) Hoàn thành

    ul(style="display:inline-block; list-style: none; padding-left: 0") 
     div(style="font-weight: 700") TRẠNG THÁI
      each status in statusBook
       li(style="border: 1px solid black; padding: 10px 30px; ")
         if(!status)
          span Đã trả👌
         else
          span Chưa trả 👀
    if(saveMore)
      div(class="ml-5")
        div(class="btn btn-info  mb-3")
          a(class="text-white", href="/transaction/create") Lưu thêm người mượn
    div
      a(href="/books") Go back

