.avatar {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 5px solid #ccc;
}
p.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 200px;
    text-align: justify;
}
.card-body {
    height: 400px;
}
.div.btn-all div {
    margin: 5px 5px;
}
.div.btn-all {
    bottom: 10%;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}
.btn-view, .btn-borrow, .btn-delete, .btn-update {
    display: inline-block;
}
.btn-delete {
    display: block;
}
button.btn-num {
    color: #111;
    border: 0;
    padding: 10px 20px;
    margin-right: 3px;
    background: #fff;
    font-weight: 500;
}
button.btn-num.btn-active {
    background: #dc3545;
    color: #fff;
}
.user_avatar img, .navbar.navbar-light.bg-light img, .user_avatar li img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid #eee;
}
.avatar {
    width: 150px;
    height: 150px;
}
i.fas.fa-shopping-cart.text-danger {
    font-size: 40px;
}
.div.btn-all.w-100 {
    position: absolute;
    left: 0;
    margin-top: 30px;
}
.form-login{
    margin: 0 auto
}